# .env.example
# Mandatory for OpenEnv Hackathon
HF_TOKEN=
API_BASE_URL=https://api.openai.com/v1
MODEL_NAME=gpt-4o-mini

# Optional (for local testing with Gemini)
OPENAI_API_KEY=

GEMINI_API_KEY=


